[Desktop Entry]
Name=Hello Again
GenericName=Hello World App
Comment=Proves that we can use Vala and Gtk
Categories=Utility;Education;
Exec=com.github.yourusername.yourrepositoryname
Icon=application-default-icon
Terminal=false
Type=Application
Keywords=Hello;World;Example;
